<% layout('/layouts/boilerplate') %>


    <h1 class="text-center display-1">Time</h1>

    <div class="section-1">
        <div class="container" id="padding-bottom">
            <div class="row text-center">
                <div class="col-6">
                    <h2 class="display-5">Set 1</h2>
                </div>
                <div class="col-6">
                    <h2 class="display-5">Set 2</h2>
                </div>
            </div>
        </div>


        <div class="container" id="padding-top">
            <div class="row justify-content-center">

                <div class="card gx-0" style="width: 18rem;">
                    <img src="/img/piano_classes.jpg" class="card-img-top" id="img-cover" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Classes</h5>
                        <p class="card-text">
                            <button id="classes-button">Click here to get started!</button>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Class 1</li>
                        <li class="list-group-item">Class 2</li>
                        <li class="list-group-item">Class 3</li>
                        <li class="list-group-item">Class 4</li>
                    </ul>
                </div>

                <div class="col-1"></div>

                <div class="card gx-0" style="width: 18rem;">
                    <img src="/img/piano_exercises.jpg" class="card-img-top" id="img-cover" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Exercises</h5>
                        <p class="card-text">
                            <button id="exercises-button">Click here to get started!</button>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Exercise 1</li>
                        <li class="list-group-item">Exercise 2</li>
                        <li class="list-group-item">Exercise 3</li>
                        <li class="list-group-item">Exercise 4</li>
                    </ul>
                </div>


                <div class="col-1"></div>

                <div class="card gx-0" style="width: 18rem;">
                    <img src="/img/piano_improv.png" class="card-img-top" id="img-cover" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Improvisations</h5>
                        <p class="card-text"><button id="improvisations-button">Click here to listen to
                                Improvisations!</button></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Example Improvisation 1</li>
                        <li class="list-group-item">Example Improvisation 2</li>
                        <li class="list-group-item">Example Improvisation 3</li>
                        <li class="list-group-item">Student Improvisation 1</li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

    <div class="section-2 display-none">

        <h1 class="text-center h2">Set 1 - Classes</h1>

        <div class="container" id="padding-bottom">
            <div class="row text-center">
                <div class="col-6">
                    <h2 class="h3">Exercises</h2>
                </div>
                <div class="col-6">
                    <h2 class="h3">Improvisations</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="row justify-content-center">
                        <div class="card gx-0" style="width: 18rem;">
                            <img src="/img/piano_classes.jpg" class="card-img-top" id="img-cover" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Classes</h5>
                                <p class="card-text">Click a class below to view.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Class 1</li>
                                <li class="list-group-item">Class 2</li>
                                <li class="list-group-item">Class 3</li>
                                <li class="list-group-item">Class 4</li>
                            </ul>
                        </div>

                    </div>
                </div>



                <div class=col-md-6>


                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/GDRvgjihIY8"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>


                </div>

                <div class="col-md-3">
                    <div class="row justify-content-center">
                        <div class="card gx-0" style="width: 18rem;">
                            <img src="/img/piano_classes.jpg" class="card-img-top" id="img-cover" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Helpful Information</h5>
                                <p class="card-text">Find some helpful information below.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Class Handouts</li>
                                <li class="list-group-item">Suggested Exercises</li>
                                <li class="list-group-item">Suggested Improvisations</li>
                                <!-- <li class="list-group-item">Class 4</li> -->
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="section-3 display-none">

        <h1 class="text-center h2">Set 1 - Exercises</h1>

        <div class="container" id="padding-bottom">
            <div class="row text-center">
                <div class="col-6">
                    <h2 class="h3">Classes</h2>
                </div>
                <div class="col-6">
                    <h2 class="h3">Improvisations</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="row justify-content-center">
                        <div class="card gx-0" style="width: 18rem;">
                            <img src="/img/piano_classes.jpg" class="card-img-top" id="img-cover" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Exercises</h5>
                                <p class="card-text">Click an Exercise below to view.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Exercise 1</li>
                                <li class="list-group-item">Exercise 2</li>
                                <li class="list-group-item">Exercise 3</li>
                                <li class="list-group-item">Exercise 4</li>
                            </ul>
                        </div>

                    </div>
                </div>



                <div class=col-md-6>


                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/GDRvgjihIY8"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>


                </div>

                <div class="col-md-3">
                    <div class="row justify-content-center">
                        <div class="card gx-0" style="width: 18rem;">
                            <img src="/img/piano_classes.jpg" class="card-img-top" id="img-cover" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Helpful Information</h5>
                                <p class="card-text">Find some helpful information below.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Exercise Handouts</li>
                                <li class="list-group-item">Suggested Classes</li>
                                <li class="list-group-item">Suggested Improvisations</li>
                                <!-- <li class="list-group-item">Class 4</li> -->
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>





    <div class="section-4 display-none">

        <h1 class="text-center h2">Set 1 - Improvisations</h1>

        <div class="container" id="padding-bottom">
            <div class="row text-center">
                <div class="col-6">
                    <h2 class="h3">Classes</h2>
                </div>
                <div class="col-6">
                    <h2 class="h3">Exercises</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="row justify-content-center">
                        <div class="card gx-0" style="width: 18rem;">
                            <img src="/img/piano_classes.jpg" class="card-img-top" id="img-cover" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Improvisations</h5>
                                <p class="card-text">Click an Improvisation below to view.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Improvisation 1</li>
                                <li class="list-group-item">Improvisation 2</li>
                                <li class="list-group-item">Improvisation 3</li>
                                <li class="list-group-item">Improvisation 4</li>
                            </ul>
                        </div>

                    </div>
                </div>



                <div class=col-md-6>


                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/GDRvgjihIY8"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>


                </div>

                <div class="col-md-3">
                    <div class="row justify-content-center">
                        <div class="card gx-0" style="width: 18rem;">
                            <img src="/img/piano_classes.jpg" class="card-img-top" id="img-cover" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Helpful Information</h5>
                                <p class="card-text">Find some helpful information below.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Class Handouts</li>
                                <li class="list-group-item">Suggested Exercises</li>
                                <li class="list-group-item">Suggested Improvisations</li>
                                <!-- <li class="list-group-item">Class 4</li> -->
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>









        <script src="/js/elements.js"></script>