<% layout('layouts/boilerplate')%>

    <body class="d-flex flex-column vh-100">
        <div class="container">
            <div class="row">

                <div class="col-4 offset-4 display-3 mb-5">Preregister</div>
                <div class="col-8 offset-2 lead text-center mb-4">This website is in currently in development! If you
                    would like to
                    join
                    during the
                    development phase, please send an email to elementsimprov@gmail.com
                </div>

                <a class="btn btn-success col-4 offset-4" href="mailto:elementsimprov@gmail.com">Register with
                    mail client</a>


            </div>
        </div>

    </body>