<% layout('layouts/boilerplate')%>

    <link rel="stylesheet" href="/css/forms.css">

    <div class="code-container">
        <div class="col-12 text-center h3">Please enter your user preregistration code</div>

        <form action="" id="code-form">
            <input class="col-4 offset-4 mt-3" type="text" id="code-input" placeholder="enter code">
            <button class="btn btn-success col-2 offset-5 mt-3">Submit</button>
        </form>

        <div class="error col-12 text-center h3 mt-4"></div>
    </div>

    <body class="d-flex flex-column vh-100">
        <div class="registration-container">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h1 class="text-center mb-5">Join!</h1>
                        <form action="/register" method="POST" novalidate class="validated-form"
                            enctype="multipart/form-data">
                            <div class="text-center mb-3">
                                <label class="form-label" for="username">Music Name</label>
                                <input class="form-control" type="text" id="username" name="username" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>


                            <div class="text-center mb-3">
                                <label class="form-label" for="email">Electronic Address</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <div class="text-center">Upload an inspiring picture!</div>
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="inputGroupFile03"
                                    aria-describedby="inputGroupFileAddon03" aria-label="Upload" name="musicImage"
                                    required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <div class="text-center mb-3">
                                <label class="form-label" for="password">Secret Music Code</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <script src="/js/forms.js"></script>